<main class="main">
  <div class="form-registration">
      <div class="title">
        <h1>Register</h1>
      </div>
      <div class="form">
        <div class="field-content">
          <div class="field-input">
            <label for="email">Email</label><br>
            <input type="email" id="email">
          </div>
          <div class="field-check">
            <small>This field is empty</small>
          </div>
        </div>

        <div class="field-content">
          <div class="field-input">
            <label for="password">Password</label><br>
            <input type="password" id="password">
          </div>
        </div>

        <div class="field-content">
          <div class="field-input">
            <label for="name">Name</label><br>
            <input type="text" id="name">
          </div>
        </div>

        <div class="field-content">
          <div class="field-input">
            <label for="city">City</label><br>
            <input type="text" id="city">
          </div>
        </div>

        <div class="field-content">
          <div class="field-input">
            <label for="date">Date of Birth</label><br>
            <input type="date" id="date">
          </div>
        </div>

        <div class="field-content">
          <label>Gender</label><br>
            <div class="field-list">
              <input type="radio" id="men" name="gender">
              <label for="men">Men</label>
              <input type="radio" id="women" name="gender">
              <label for="women">Women</label>
            </div>
        </div>

        <div>
          <button type="submit" class="btn-submit">Register</button>
        </div>
      </div>
  </div>
</main>
